@model IEnumerable<Magnify.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Teacher List</h2>

<div id="content" ng-controller="TeacherController">
    <span ng-show="{{isViewLoading}}" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif"> loading ...
    </span>
    <div ng-class="{{result}}">{{message}}</div>
    <hr />

    <form name="frmTeacher" novalidate>
        <div class="form-horizontal">
            <h4>Teacher</h4>

            <div class="form-group">
                <label class="col-md-2">First Name</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" ng-model="custModel.FirstName" name="FirstName" required ng-minlength="4" ng-maxlength="14" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" ng-model="custModel.LastName" name="LastName" required ng-minlength="4" ng-maxlength="14" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">SubjectID</label>
                <div class="col-md-10">
                    <select class="form-control" ng-model="custModel.SubjectID" name="SubjectID" required>
                        <option ng-repeat="subject in ListSubject" value="{{subject.SubjectID}}" ng-selected="custModel.SubjectID == subject.SubjectID">
                            {{subject.Title}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" ng-disabled="frmTeacher.$invalid" class="btn btn-default" ng-click="saveTeacher()" />
                    <input type="submit" value="Update" ng-disabled="frmTeacher.$invalid" class="btn btn-default" ng-click="updateTeacher()" />
                </div>
            </div>
        </div>
    </form>
    <hr />

    <h2>All Teachers</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <td>Title</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="teacher in ListTeacher">
                <td>{{teacher.SubjectTitle}}</td>
                <td>{{teacher.FirstName}}</td>
                <td>{{teacher.LastName}}</td>
                <td>
                    <a href="#" ng-click="getTeacher(teacher)">Edit</a>
                    <a href="#" ng-click="deleteTeacher(teacher)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/ScriptsNg/TeacherController.js"></script>
}