@{
    ViewBag.Title = "Index";
}

<h2>CourseRegistration List</h2>

<div class="content" ng-controller="CourseRegistrationController">
    <div ng-class="{{result}}">{{message}}</div>
    <form name="frmCourse" class="form-horizontal">
        <div class="form-group">
            <label for="title" class="control-label col-md-2">Course</label>
            <select class="form-control" id="CourseID" name="CourseID" ng-model="courseModel.CourseID" required>
                <option ng-repeat="item in courseDropdownlist" value="{{item.CourseID}}" ng-selected="courseModel.CourseID == item.CourseID">{{item.Title}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="SubjectID" class="control-label col-md-2">Student</label>
            <div class="col-md-10">
                <select class="form-control" id="StudentID" name="StudentID" ng-model="courseModel.StudentID" required>
                    <option ng-repeat="item in studentDropdownlist" value="{{item.StudentID}}" ng-selected="courseModel.StudentID == item.StudentID">{{item.FirstName}}</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" ng-click="createCourseRegForm()" ng-disabled="frmCourse.$invalid" class="btn btn-default" />
                <input type="submit" value="Update" ng-click="updateCourseRegForm()" class="btn btn-default" />
            </div>
        </div>
    </form>
    <a href="/CourseRegistration/Create">Create New</a>

    <h2>All CourseRegistrations</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <td>Course Title</td>
                <td>Student First Name</td>
                <td>Student Last Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="courseRegistration in ListCourseRegistration">
                <td>{{courseRegistration.CourseTitle}}</td>
                <td>{{courseRegistration.StudentFirstName}}</td>
                <td>{{courseRegistration.StudentLastName}}</td>
                <td>
                    <a ng-click="editCourseOpen(courseRegistration.CourseRegistrationID)">Edit</a>
                    <a ng-click="deleteCourseReg(courseRegistration.CourseRegistrationID)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/ScriptsNg/CourseRegistrationController.js"></script>
}
