@model IEnumerable<Magnify.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Subject List</h2>

<div id="content" ng-controller="SubjectController">
    <div ng-class="result">{{message}}</div>

    <a href="/Subject/Create">Create New</a>

    <h2>All Subjects</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subject in ListSubject">
                <td>{{subject.Title}}</td>
                <td>
                    <a ng-href="'/Subject/Edit/' + subject.SubjectID">Edit</a>
                    <a ng-href="'/Subject/Details/' + subject.SubjectID">Details</a>
                    <a ng-href="'/Subject/Delete/' + subject.SubjectID">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/ScriptsNg/SubjectController.js"></script>
}

